
	
	
	
	
	
	
	<wxr-world>
<script src="https://cdn.jsdelivr.net/gh/webcomponents/webcomponentsjs@v1.1.0/webcomponents-lite.js"></script>
<link href="https://libs.webizing.org/wxr-0.8.html" rel="import">
<style>
	wxr-camera {
		--wxr-transform: translate3d(0, 0.1, 0.6) rotate3d(0, 0, 0);
	}

	wxr-light-ambient {
		--wxr-transform: translate3d(0, 0.5, 0);
	}

	wxr-light-directional {
		--wxr-transform: translate3d(0, 100, 10);
	}


	#showStep{
		width: 100px;
		height: 50px;
		border: 3px solid black;
	}

	#prevBtn {
		width: 100px;
		height: 50px;
		border: 3px solid black;
		font-size : 20px;
	}

	#nexBtn {
		width: 80px;
		height: 50px;
		border: 3px solid black;
		font-size : 20px;
	}

	#annotation01 {
		--wxr-transform: translate3d(-10, 0, 0) rotate3d(0, 0, 0) scale3d(0.3, 0.3, 0.3);
	}

	#annotation02 {
		--wxr-transform: translate3d(-0.3, 0, 0) rotate3d(0, 0, 0) scale3d(0.3, 0.3, 0.3);
	}

	#annotation03 {
		--wxr-transform: translate3d(-0.3, 0, 0) rotate3d(0, 0, 0) scale3d(0.3, 0.3, 0.3);
	}

	#annotation04 {
		--wxr-transform: translate3d(-0.3, 0, 0) rotate3d(0, 0, 0) scale3d(0.3, 0.3, 0.3);
	}

	#annotation05 {
		--wxr-transform: translate3d(-0.3, 0, 0) rotate3d(0, 0, 0) scale3d(0.3, 0.3, 0.3);
	}


	#base {
		--wxr-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0) scale3d(1, 1, 1);
	}

	#00_handle {
		--wxr-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0) scale3d(1, 1, 1);
	}

	#00_arrow {
		--wxr-transform: translate3d(1, 3.14, 0) rotate3d(0, 0, 0) scale3d(1, 1, 1);
	}


	#01_screw {
		--wxr-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0) scale3d(1, 1, 1);
	}

	#02_cover {
		--wxr-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0) scale3d(1, 1, 1);
	}

	#03_seal {
		--wxr-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0) scale3d(1, 1, 1);
	}

	#04_ball {
		--wxr-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0) scale3d(1, 1, 1);
	}

	#05_holder {
		--wxr-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0) scale3d(1, 1, 1);
	}

	#05_nut {
		--wxr-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0) scale3d(1, 1, 1);
	}

	#05_bolt {
		--wxr-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0) scale3d(1, 1, 1);
	}
  
   #box_01{
     	--wxr-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0) scale3d(1, 1, 1);
  }




</style>


<script>
    let step=1;

    function onNextButtonClick() {
        console.log(arguments);
        if(step===6){
            return;
        }

        let currentURL, nextURL;

        currentURL="http://content.wxr.webizing.org/space/step0"+step;
        WXREvent.dispatchEvent({type: WXREvent.BEACON_MISSED, beacon: currentURL});

        step+=1;

        nextURL="http://content.wxr.webizing.org/space/step0" + step;
        WXREvent.dispatchEvent({type: WXREvent.BEACON_DETECTED, beacon: nextURL});
    }


    function onPreviousButtonClick() {
        if(step===0){
            return;
        }

        let currentURL, nextURL;

        currentURL="http://content.wxr.webizing.org/space/step0"+step;
        WXREvent.dispatchEvent({type: WXREvent.BEACON_MISSED, beacon: currentURL});

        step-=1;

        nextURL="http://content.wxr.webizing.org/space/step0" + step;
        WXREvent.dispatchEvent({type: WXREvent.BEACON_DETECTED, beacon: nextURL});
    }
</script>

<button id="prevBtn" style="position:absolute; top:70px; right:120px;" onclick="onPreviousButtonClick();">Previous</button>
<button id="nexBtn" style="position:absolute; top:70px; right:20px;" onclick="onNextButtonClick(this);">Next</button>



<wxr-description title="Ball Valve 3D" img="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/thumb/3d-thumb.png" desc="insstek 3D printer maintenance on the 3D web"></wxr-description>
<wxr-view default="3D" current="3D" modes="[&quot;3D&quot;, &quot;VR&quot;]"></wxr-view>



<wxr-user user-id="jungmin.ha@wrl.onl" authority="owner" me=""></wxr-user>
<wxr-user user-id="jongho.lee@wrl.onl" authority="viewer"></wxr-user>

<wxr-camera fovy="61" near="0.1" far="1000" webgl_uuid="6B495F45-A957-46FC-A64E-A453B6FBED3A" fov="60" aspect="1.7433414043583535"></wxr-camera>


<wxr-space src="http://content.wxr.webizing.org/space/step01" enable="" webgl_uuid="9069D2E9-7DF1-4204-8F28-7CE1BE7CA036" css3d_uuid="CFCB1339-9FDC-41B5-A2CD-3B87CD7DCFED">
	<wxr-light-ambient color="0xf0f0f0" intensity="0.4" webgl_uuid="CE441162-549A-42F4-A596-17829770423F" css3d_uuid="472D8107-FA8B-46BA-BE03-98F81A32939A" id="" style="display: block;"></wxr-light-ambient>
	<wxr-light-directional color="0xf0f0f0" intensity="0.4" webgl_uuid="868D848A-3B89-4F48-8400-9AFBFF8B7FE3" css3d_uuid="3FEDFDCD-4AF5-4B21-93D2-D425019497FC" id="" style="display: block;"></wxr-light-directional>
	<wxr-obj id="base" mtl="base.mtl" obj="base.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/valve_3d" webgl_uuid="3A775CD5-CD17-4067-A0C6-0481C3CC75BB" css3d_uuid="D30B73A3-8829-4742-A73A-B3A9B70A7887" style="display: block;"></wxr-obj>
	<wxr-obj id="00_handle" mtl="00_handle.mtl" obj="00_handle.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/valve_3d" webgl_uuid="CE6648C7-F6B9-4C1B-824E-5672398C4871" css3d_uuid="57B7D508-C38D-4991-9BA2-16F664724A36" style=" --wxr-transform:tranlate3d( 0.5, 0, 0), rotate3d(0, 0, 0), scale3d(1, 1, 1);"></wxr-obj>
    <wxr-plane id="annotation01" texture="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/dialog/powder_vr_reassem/step01.jpg" webgl_uuid="C42897B4-E015-42AA-AE45-23CC2EE30DAD" css3d_uuid="73E01916-E27A-44D4-AE14-DAAAD8683A44" style="display: block;"></wxr-plane>

</wxr-space>


</wxr-world>
	


	


	


	


	


	


	

