<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>XWR Space</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A VR/AR content space for editing and viewing" />
	<meta name="keywords" content="virtual reality, augmented reality, mixed reality, content web editor, webized network, webized device" />
	<meta name="author" content="wrl.onl" />

	<!--
	//////////////////////////////////////////////////////

	DEVELOPED by Yongjae Lee at Webizing Research Laboratory.

	website:		http://www.wrl.onl/
	Email:			yongjae.lee@wrl.onl

	//////////////////////////////////////////////////////
	 -->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="icon" href="https://getbootstrap.com/favicon.ico">

	<!-- Bootstrap core CSS -->
	<link href="/libs/bootstrap/bootstrap.min.css" rel="stylesheet">

	<!-- Font awesome CSS -->
	<link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/stylesheets/style.css" rel="stylesheet">

	<script src="https://cdn.rawgit.com/webcomponents/webcomponentsjs/v1.1.0/webcomponents-lite.js"></script>
	<link href="/wxr.html" rel="import">
</head>

<body>

	<main>
		<div id="container"></div>
	</main>

	<!-- jQuery -->
	<script src="/libs/jquery/jquery.min.js"></script>
	<!-- autosize -->
	<script src="/libs/jquery/jquery.autosize.js"></script>
	<!-- Waypoints -->
	<script src="/libs/jquery/jquery.waypoints.min.js"></script>
	<!-- jQuery UI -->
	<script src="/libs/jquery/ui/effect.js"></script>
	<!-- Bootstrap -->
	<script src="/libs/bootstrap/bootstrap.min.js"></script>
	<!-- Socket.io -->
	<script src="/libs/socket.io/socket.io.js"></script>
	<!-- threejs modules -->
	<script src="/libs/three/three.js"></script>
	<script src="/libs/three/js/controls/EditorControls.js"></script>

	<script src="/javascripts/view.js"></script>


	<script>


	</script>

</body>

</html>