<!DOCTYPE html>
<html>
<head>
	<title>XWR Space</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">

	<script src="/libs/socket.io/socket.io.js"></script>
	<script src="https://cdn.rawgit.com/webcomponents/webcomponentsjs/v1.1.0/webcomponents-lite.js"></script>

	<link href="https://libs.webizing.org/wxr-0.5.html" rel="import">
	<link rel="icon" href="https://getbootstrap.com/favicon.ico">
	
	<%- include(`../cms/` + workspace.id + `/css`); -%>
</head>

<body>

	<%- include(`../cms/` + workspace.id + `/body`); -%>

	<wxr-editor>
	</wxr-editor>
	
	
	<%- include(`../cms/` + workspace.id + `/js`); -%>

	<script>
		WXR.WebizingDeviceConfigManager.webizingDeviceManagerEnable = true;
		WXR.InteractionListener.webizingDeviceManagerEnable = true;
		WXR.InteractionListener.interactionEventServerEnable = true;
	</script>
</body>
</html>