extends layout

append meta
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')

append scripts
  script(src='/lib/three/three.js')
  script(src='/lib/three/js/controls/TrackballControls.js')
  script(src='/lib/three/js/GPUParticleSystem.js')

  script(src='/javascripts/view.js')
  script(src='/lib/socket.io/socket.io.js')

append styles
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')

block content
  #container