<!DOCTYPE html>
<html>
<head>
	<title>XWR Space</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="icon" href="https://getbootstrap.com/favicon.ico">
	<script src="/libs/socket.io/socket.io.js"></script>
</head>
<body>
	<%- include(`../cms/` + workspace.id + `/body`); -%>

	<wxr-editor>
	</wxr-editor>

	<script>
		WXR.WebizingDeviceConfigManager.webizingDeviceManagerEnable = true;
		WXR.InteractionListener.webizingDeviceManagerEnable = true;
		WXR.InteractionListener.interactionEventServerEnable = true;
	</script>
</body>
</html>