#webGLObject3D1 {
	--wxr-transform: translate3d(109,0,0);
}

#webGLObject3D2 {
	--wxr-transform: translate3d(0,0,0);
}

#webGLObject3D3 {
	--wxr-transform: translate3d(-109,0,0);
}

wxr-camera {
	--wxr-transform: translate3d(0, 20, 60);
}
