
<!--Search panel-->
<div class="container-fluid wxr-search">
	<div class="row align-items-center h-100">
		<form class="col-12 text-center" action="/search" method="GET">
			<input type="search" value="" placeholder="type keyword(s) here" name="keyword" autocomplete="off"/> <br>
			<button type="submit" class="btn btn-primary wxr-button wxr-bg-blue">Search</button>
		</form>
	</div>
</div>
