<!DOCTYPE HTML>
<html>
<head>
	<title>WXR Space</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">

	<script src="/libs/socket.io/socket.io.js"></script>
	<script src="https://cdn.rawgit.com/webcomponents/webcomponentsjs/v1.1.0/webcomponents-lite.js"></script>

	<link href="https://libs.webizing.org/wxr-0.5.html" rel="import">
	<link rel="icon" href="https://getbootstrap.com/favicon.ico">

	<!-- Bootstrap core CSS -->
	<link href="/libs/bootstrap/bootstrap.min.css" rel="stylesheet">

	<!-- Font awesome CSS -->
	<link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>

	<!-- Header -->
	<%- include('template/header'); -%>

	<main role="main">

		<!-- Page Header -->
		<div class="container">
			<h1 class="pl-4 mt-5 mb-3">My Devices</h1>
			<hr class="wxr-sm-divider">
		</div>


		<div class="container">
			<div class="row m-5">
				<table id="device_list" class="table table-hover wxr-no-top-border">
					<thead>
					<tr>
						<th scope="col-1">#</th>
						<th scope="col">Name</th>
						<th scope="col">Device</th>
						<th scope="col">DeviceType</th>
						<th scope="col">ConnectionType</th>
						<th scope="col">Status</th>
						<th scope="col">EventStreamEnable</th>
						<th scope="col-1">Delete</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>

	</main>

	<!-- Footer -->
	<%- include('template/footer'); -%>


	<!-- jQuery -->
	<script src="/libs/jquery/jquery.min.js"></script>
	<!-- autosize -->
	<script src="/libs/jquery/jquery.autosize.js"></script>
	<!-- Waypoints -->
	<script src="/libs/jquery/jquery.waypoints.min.js"></script>
	<!-- jQuery UI -->
	<script src="/libs/jquery/ui/effect.js"></script>
	<!-- Bootstrap -->
	<script src="/libs/bootstrap/bootstrap.min.js"></script>
	<!-- Socket.io -->
	<script src="/libs/socket.io/socket.io.js"></script>

	<script>

		function refreshDeviceList(profiles) {
			let $deviceList = $('#device_list');

			let $newTbody = $('<tbody></tbody>');
			profiles.forEach( (e, i) => {
				const id = !e.id || e.id === 'device no id' ? '' : e.id;
				let $row = $(`<tr id="${id}" class="${id ? '' : 'table-warning'}">
								<th scope="row">${i+1}</th>
								<td role="name"><input class="form-control wxr-form-control" type="text" value="${e.name}" ${id ? '' : 'readonly'}></td>
								<td role="device">${e.device}</td>
								<td role="deviceType">${e.deviceType}</td>
								<td role="connectionType"><input class="form-control wxr-form-control" type="text" value="${e.connectionType}" ${id ? '' : 'readonly'}></td>
								<td role="status"><input class="form-control wxr-form-control" type="text" value="${e.status}" ${id ? '' : 'readonly'}></td>
								<td role="eventStreamEnable"><input class="form-control wxr-form-control" type="text" value="${e.eventStreamEnable}" ${id ? '' : 'readonly'}></td>
								<td><button class="btn btn-primary btn-sm wxr-button wxr-bg-blue" onclick="saveDeviceProfile(this)">Save</button></td>
							</tr>`);
				$newTbody.append($row);
			});

			$('tbody', $deviceList).remove();
			$deviceList.append($newTbody);
		}


		// this function should be moved to WebizingDeviceConfigurationManager.js
		function saveDeviceProfile(btn) {
			const $profileRoot = $(btn.parentNode.parentNode);	// getting parent <tr> node.
		  	const deviceId = $profileRoot.attr('id');
			const profile = {
				name: $('[role="name"] input', $profileRoot).val(),
				device: $('[role="device"]', $profileRoot).text(),
				deviceType: $('[role="deviceType"]', $profileRoot).text(),
				connectionType: $('[role="connectionType"] input', $profileRoot).val(),
				status: $('[role="status"] input', $profileRoot).val(),
				eventStreamEnable: $('[role="eventStreamEnable"] input', $profileRoot).val()
			};
		  	if (deviceId) {
				WXR.WebizingDeviceConfigManager.updateProfile(deviceId, profile);
				// WXR.WebizingDeviceConfigManager.updateProfile(deviceId, profile, data => console.log('Update device profile is done: ', data));
			} else {
				WXR.WebizingDeviceConfigManager.registerProfile(profile);
				// WXR.WebizingDeviceConfigManager.createProfile(profile, data => console.log('Create device profile is done: ', data));
			}
		}


		window.addEventListener('WebComponentsReady', function() {
	
			WXR.WebizingDeviceConfigManager.addUpdateListener(refreshDeviceList);
			WXR.WebizingDeviceConfigManager.webizingDeviceManagerEnable = true;
		});


	</script>

</body>

</html>