wxr-camera {
	--wxr-transform: translate3d(0, 40, 110);
}

#model01 {
	--wxr-transform: scale3d(500, 500, 500);
}

wxr-box {
	--wxr-transform: translate3d(0, 100, 0);
}

#directionalLight01 {
	--wxr-transform: translate3d(0, 100, 0);
}

#ambientLight01 {
	--wxr-transform: translate3d(0, 100, 0);
}
