wxr-camera {
	--wxr-transform: translate3d(0, 100, 300) rotate3d(0, 0, 0);
}

#model02_plate {
	--wxr-transform: translate3d(0, 0, 50) rotate3d(0, 0, 0) scale3d(500, 500, 500);
}

#model02_screw {
	--wxr-transform: translate3d(20, -20, 50) rotate3d(0, 0, 0) scale3d(500, 500, 500);
}


#O_test {
	--wxr-transform: rotate3d(0, 0, 0) scale3d(500, 500, 500);
}

