html {
  position: relative;
}

body {
  padding-bottom: 150px;
}

.wxr-button {
  border-radius: 1px;
  border-color: transparent;
}

.wxr-button:hover{
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}

.wxr-divider {
  margin: 0px;
  border: 0px;
  border-top: 2px solid #d8d8d8;
  width: 100%;
}

.wxr-sm-divider {
  margin: 0px;
  border: 0px;
  border-top: 1px solid #d8d8d8;
  width: 100%;
}

.wxr-search {
  background-color: rgba(0, 0, 0, 0.7);
  height: 300px;
  /*opacity: 1;*/
  /*margin-top: auto;*/
  /*margin-bottom: auto;*/
}

.wxr-search input[type="search"] {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  /*font-weight: 300;*/
  text-align: center;
  border: 0px;
  margin: 0px auto;
  outline: none;
}

.wxr-bg-black {
  background-color: #000000;
}

.wxr-bg-blue {
  background-color: #2d6cdf;
}

.wxr-border-blue {
  border-color: #2d6cdf;
}

.wxr-blue {
  color: #2d6cdf;
}

.wxr-overflow-x-scroll {
  overflow-x: scroll;
}

.wxr-round-border {
  border: 1px solid;
  border-radius: 50%;
}

.wxr-form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  border-color: #abc4f2;
}

.wxr-form-control:focus {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #2d6cdf;
}

.wxr-form-control:disabled, .wxr-form-control[readonly] {
  background-color: transparent;
  cursor: not-allowed;
}

a.wxr-plain-link, a.wxr-plain-link:hover {
  color: inherit;
}

.wxr-custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin-bottom: 0;
}

.wxr-custom-file-input {
  min-width: 14rem;
  max-width: 100%;
  height: 2.5rem;
  margin: 0;
  opacity: 0;
}

.wxr-custom-file-control {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.wxr-no-top-border thead th {
  border-top: 0px;
}

.wxr-profile-image {
  width: 45px;
  height: 45px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
}




header nav {
  height: 60px;
}

#loginModal .modal-content {
  background-color: rgba(255,255,255,0);
  border: 0px;
  width: 24rem;
}

.flip {
  /*-webkit-perspective: 800;*/
  perspective: 800px;
  position: relative;
  /*width: 24rem;*/
}

.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}

.flip .card {
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32),0 4px 30px 0 rgba(0,0,0,0.24);
}

.flip .card .face {
  -webkit-backface-visibility: hidden ;
  backface-visibility: hidden ;
  z-index: 2;
}

.flip .card .front {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.flip .card .back {
  -webkit-transform: rotatey(180deg);
  transform: rotatey(180deg);
}

.flip .card p{
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: #2d6cdf;
}

.flip .card .form-control{
  border-radius: 0px;
  margin-bottom: 10px;
}

.flip .card .fa{
  color: #2d6cdf;
}

.flip .card .fa-facebook-f{
  padding: 10px 12px 10px 12px;
}

.flip .card .fa-google-plus{
  padding: 10px 8px 10px 8px;
}

.flip .card .fa-twitter{
  padding: 10px 8px 10px 8px;
}

.flip .card i{
  margin-left: 5px;
  margin-right: 5px;
}

.d-flex.flex-row.flex-nowrap .card {
  min-width: 18rem;
  max-width: 18rem;
  white-space: initial;
  border: 0px;
}

.d-flex.flex-row.flex-nowrap .card .card-img-top {
  border-radius: 0px;
}

nav .dropdown .fa-user {
  padding: 0.3rem;
}

.modal .modal-header, .modal .modal-footer {
  border-color: #abc4f2;
}
