wxr-camera {
	--wxr-transform: translate3d(5, 2, 0.5) rotate3d(0, 3.14, 0);
}

wxr-light-ambient {
	--wxr-transform: translate3d(0, 0.5, 0);
}

#machine {
	--wxr-transform: translate3d(6, 0, 14) rotate3d(0, 3.14, 0) scale3d(0.65, 0.65, 0.65);
}

#mainFrame {
	--wxr-transform: translate3d(6.28, 1.5, 12.45) rotate3d(0, 3.14, 0) scale3d(2.6, 2.6, 2.6);
}

#pannel {
	--wxr-transform: translate3d(5, 1.8, 12.05) rotate3d(0, 2.8, 0) scale3d(0.7, 0.7, 0.7);
}

#annotation1 {
	--wxr-transform: translate3d(6, 3, 3) scale3d(8, 8, 8);
}

#annotation2 {
	--wxr-transform: translate3d(-6, 3, 3) scale3d(8, 8, 8);
}

#printer {
	width: 530px;
	height: 900px;
	border: 0px;
}

#video {
	width: 600px;
	height: 330px;
	border: 0px;
}