wxr-sphere {
	--wxr-transform: translate3d(45, 0, 0);
}

wxr-box {
	--wxr-transform: translate3d(-45, 0, 0) rotate3d(0, -0.2, 0);
}

wxr-cylinder {
	--wxr-transform: translate3d(0, -15, 50);
}

#annotation1 { /* sphere */
	--wxr-transform: translate3d(125, 150, 75) rotate3d(0, -0.4, 0) scale3d(1, 1, 1);
}

#annotation2 { /* cube */
	--wxr-transform: translate3d(-100, 115, 75) rotate3d(0, 0.4, 0) scale3d(1, 1, 1);
}

#annotation3 { /* pyramid */
	--wxr-transform: translate3d(0, -100, 100) scale3d(1, 1, 1);
}
.annotation {
	width: 200px;
	font-size: 8px;
	background-color: white;
	padding: 0.4em 0.4em 0.4em 0.4em;
	border-radius: 5px;
	border-style: solid;
	border-color: #231F20;
	border-width: 1px;
}

wxr-camera {
	--wxr-transform: translate3d(0, 100, 300);
}