
	<button id=prevBtn style="position:absolute; top:10px; right:120px;" onclick="onPreviousButtonClick();">Previous</button>
	<button id=nexBtn style="position:absolute; top:10px; right:20px;" onclick="onNextButtonClick();">Next</button>


	<wxr-world ar-engine="vuforia">
		<wxr-camera fovy=61 near=0.1 far=1000></wxr-camera>
		<wxr-space src="http://content.wxr.webizing.org/space/step01" enable>
			<wxr-target id="STEP01" src="https://jungminha.webizing.org/04/01">
				<wxr-light-ambient color="0xf0f0f0" intensity="0.4"></wxr-light-ambient>
				<wxr-light-directional color="0xf0f0f0" intensity="0.4"></wxr-light-directional>
				<wxr-obj id="model01_powder" mtl="model01_powder.mtl" obj="model01_powder.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="movement" to="-0.2 -0.17 -0.1" duration="6000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-obj id="model02_baseassy" mtl="model02_baseassy.mtl" obj="model02_baseassy.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr"></wxr-obj>
				<wxr-obj id="model02_plateclip" mtl="model02_plateclip.mtl" obj="model02_plateclip.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr"></wxr-obj>
				<wxr-obj id="model01_rightclip" mtl="model01_rightclip.mtl" obj="model01_rightclip.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="rotation" to="0 0 -1" duration="6000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-obj id="model01_leftclip" mtl="model01_leftclip.mtl" obj="model01_leftclip.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="rotation" to="0 0 1" duration="6000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-obj id="model01_rightclip_bottom" mtl="model01_rightclip_bottom.mtl" obj="model01_rightclip_bottom.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="rotation" to="0 0 1" duration="6000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-obj id="model01_leftclip_bottom" mtl="model01_leftclip_bottom.mtl" obj="model01_leftclip_bottom.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="rotation" to="0 0 -1" duration="6000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-obj id="model01_rightarrow" mtl="model01_rightarrow.mtl" obj="model01_rightarrow.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr"></wxr-obj>
				<wxr-obj id="model01_leftarrow" mtl="model01_leftarrow.mtl" obj="model01_leftarrow.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr"></wxr-obj>
				<wxr-plane id="annotation01" texture="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/dialog/powder_vr/step01.jpg"></wxr-plane>
			</wxr-target>
		</wxr-space>


		<wxr-space  src="http://content.wxr.webizing.org/space/step02" disabled>
			<wxr-target id="STEP02" src="https://jungminha.webizing.org/04/02">
				<wxr-light-ambient color="0xf0f0f0" intensity="0.4"></wxr-light-ambient>
				<wxr-light-directional color="0xf0f0f0" intensity="0.4"></wxr-light-directional>
				<wxr-obj id="model02_baseassy" mtl="model02_baseassy.mtl" obj="model02_baseassy.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr"></wxr-obj>
				<wxr-obj id="model02_plateassy" mtl="model02_plateassy.mtl" obj="model02_plateassy.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="movement" to="-0.2 -0.15 -0.1" duration="15000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-obj id="model02_screw" mtl="model02_screw.mtl" obj="model02_screw.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="movement" to="-0.2 -0.15 -0.1" duration="15000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-plane id="annotation02" texture="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/dialog/powder_vr/step02.jpg"></wxr-plane>
			</wxr-target>
		</wxr-space>


		<wxr-space  src="http://content.wxr.webizing.org/space/step03" disabled>
			<wxr-target id="STEP03_1" src="https://jungminha.webizing.org/04/03">
				<wxr-light-ambient color="0xf0f0f0" intensity="0.4"></wxr-light-ambient>
				<wxr-light-directional color="0xf0f0f0" intensity="0.4"></wxr-light-directional>
				<wxr-obj id="model03_baseassy" mtl="model03_baseassy.mtl" obj="model03_baseassy.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr"></wxr-obj>
				<wxr-obj id="model03_1_screw" mtl="model03_1_screw.mtl" obj="model03_1_screw.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="movement" to="0 0 -0.05" duration="5000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-obj id="model03_1_arrow" mtl="model03_1_arrow.mtl" obj="model03_1_arrow.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr"></wxr-obj>
				<wxr-obj id="model03_2_screw" mtl="model03_2_screw.mtl" obj="model03_2_screw.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="movement" to="-0.2 -0.2 0.1" duration="20000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-plane id="annotation03" texture="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/dialog/powder_vr/step03.jpg"></wxr-plane>
			</wxr-target>
		</wxr-space>



		<wxr-space  src="http://content.wxr.webizing.org/space/step04" disabled>
			<wxr-target id="STEP04" src="https://jungminha.webizing.org/04/04">
				<wxr-light-ambient color="0xf0f0f0" intensity="0.4"></wxr-light-ambient>
				<wxr-light-directional color="0xf0f0f0" intensity="0.4"></wxr-light-directional>
				<wxr-obj id="model04_base" mtl="model04_base.mtl" obj="model04_base.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr"></wxr-obj>
				<wxr-obj id="model04_bush" mtl="model04_bush.mtl" obj="model04_bush.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="movement" to="-0.2 -0.2 0.1" duration="20000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-obj id="model04_shaft" mtl="model04_shaft.mtl" obj="model04_shaft.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="movement" to="-0.2 -0.2 0.1" duration="20000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-obj id="model05_busharrow" mtl="model05_busharrow.mtl" obj="model05_busharrow.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="movement" to="-0.2 -0.2 0.1" duration="20000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-plane id="annotation04" texture="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/dialog/powder_vr/step04.jpg"></wxr-plane>
			</wxr-target>
		</wxr-space>


		<wxr-space  src="http://content.wxr.webizing.org/space/step05" disabled>
			<wxr-target id="STEP05" src="https://jungminha.webizing.org/04/05">
				<wxr-light-ambient color="0xf0f0f0" intensity="0.4"></wxr-light-ambient>
				<wxr-light-directional color="0xf0f0f0" intensity="0.4"></wxr-light-directional>
				<wxr-obj id="model05_bush" mtl="model05_bush.mtl" obj="model05_bush.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="movement" to="-0.2 -0.2 0.1" duration="20000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-obj id="model04_shaft" mtl="model04_shaft.mtl" obj="model04_shaft.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="movement" to="-0.2 -0.2 -0.3" duration="20000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-obj id="model05_busharrow" mtl="model05_busharrow.mtl" obj="model05_busharrow.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="movement" to="-0.2 -0.2 0.1" duration="20000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-obj id="model05_shaftarrow" mtl="model05_shaftarrow.mtl" obj="model05_shaftarrow.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr">
					<wxr-animation type="movement" to="-0.2 -0.2 -0.3" duration="20000" repeat=Infinity easing="linear"></wxr-animation>
				</wxr-obj>
				<wxr-plane id="annotation05" texture="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/dialog/powder_vr/step05.jpg"></wxr-plane>
			</wxr-target>
		</wxr-space>
	</wxr-world>