
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<wxr-world>
<script src="https://cdn.jsdelivr.net/gh/webcomponents/webcomponentsjs@v1.1.0/webcomponents-lite.js"></script>
<link href="https://libs.webizing.org/wxr-0.8.html" rel="import">
<style>
  
  	wxr-camera {
		--wxr-transform: translate3d(0, 0.1, 700) rotate3d(0, 0, 0);
	}

	wxr-light-ambient {
		--wxr-transform: translate3d(0, 0.5, 0);
	}

	wxr-light-directional {
		--wxr-transform: translate3d(0, 100, 10);
	}
	
	
	#sunAnnotation {
		--wxr-transform: translate3d(0, 0, -1) scale3d(1.1, 1.1, 1.1);
	}

  	#sun{
		--wxr-transform: translate3d(10, 0, -4) scale3d(1,1,1);
}  
  
  	#box01{
		--wxr-transform: translate3d(0, 0, 697) scale3d(1,1,1);
}
   #frame01{
		--wxr-transform: translate3d(1, 1, 1) rotate3d(1, 0, 0) scale3d(1,1,1);
}

</style>

	<wxr-description title="insstek 3D" img="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/thumb/3d-thumb.png" desc="insstek 3D printer maintenance on the 3D web"></wxr-description>
	<wxr-view default="AR" current="AR" modes="[&quot;3D&quot;, &quot;AR&quot;]"></wxr-view>

	<wxr-requirement devices="[&quot;leap-motion&quot;]"></wxr-requirement>

	<wxr-user user-id="yongjae.lee@wrl.onl" authority="owner"></wxr-user>
	<wxr-user user-id="jongho.lee@wrl.onl" authority="viewer"></wxr-user>

	<wxr-camera fovy="61" near="0.1" far="500" fov="60" aspect="1.2462271644162033"></wxr-camera>

	<wxr-space src="http://content.wxr.webizing.org/space/step01" enable="">
		<wxr-target id="stones" src="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/target/test/stones">       	
  
			<wxr-html id="sunAnnotation">
				<div class="annotation">
					<h3>Sun</h3>
					<iframe width="1100" height="1300" src="http://203.255.251.35:8321" frameborder="0" allowfullscreen=""></iframe>
				</div>
			</wxr-html>
       </wxr-target>

	</wxr-space>

</wxr-world>
	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	

