
<footer class="footer d-flex align-items-center justify-content-center bg-light">
	<!--<div class="container">-->
		<p class="m-0 text-center ">
			Powered by Bootstrap 4. <br>
			&copy; 2018 Korea Institute of Science and Technology Webizing Researching Laboratory. All Rights Reserved.
		</p>
	<!--</div>-->
</footer>
