
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


<wxr-world>

<script src="https://cdn.rawgit.com/webcomponents/webcomponentsjs/v1.1.0/webcomponents-lite.js"></script>
<link href="https://libs.webizing.org/wxr-0.7.html" rel="import">
<style>
	wxr-camera {
		--wxr-transform: translate3d(0, 0.1, 0.6) rotate3d(0, 0, 0);
	}

	wxr-light-ambient {
		--wxr-transform: translate3d(0, 0.5, 0);
	}

	wxr-light-directional {
		--wxr-transform: translate3d(0, 100, 10);
	}


	#showStep{
		width: 100px;
		height: 50px;
		border: 3px solid black;
	}

	#prevBtn {
		width: 100px;
		height: 50px;
		border: 3px solid black;
		font-size : 20px;
	}

	#nexBtn {
		width: 80px;
		height: 50px;
		border: 3px solid black;
		font-size : 20px;
	}

	#annotation01 {
		--wxr-transform: translate3d(0.2, 0, -0.1) rotate3d(0, 0, 0) scale3d(0.3, 0.3, 0.3);
	}

	#annotation02 {
		--wxr-transform: translate3d(0.2, 0, -0.1) rotate3d(0, 0, 0) scale3d(0.3, 0.3, 0.3);
	}

	#annotation03 {
		--wxr-transform: translate3d(0.2, 0, -0.1) rotate3d(0, 0, 0) scale3d(0.3, 0.3, 0.3);
	}
  
  	#annotation03_2 {
		--wxr-transform: translate3d(0.2, 0, -0.1) rotate3d(0, 0, 0) scale3d(0.3, 0.3, 0.3);
	}

	#annotation04 {
		--wxr-transform: translate3d(0.2, 0, -0.1) rotate3d(0, 0, 0) scale3d(0.3, 0.3, 0.3);
	}

	#annotation05 {
		--wxr-transform: translate3d(0.2, 0, -0.1) rotate3d(0, 0, 0) scale3d(0.3, 0.3, 0.3);
	}

	#model01_powder {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model01_baseassy {
		--wxr-transform: translate3d(-1000, -1000, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model01_rightclip {
		--wxr-transform: translate3d(-0.135, -0.07, 0.125) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model01_leftclip {
		--wxr-transform: translate3d(-0.305, -0.07, 0.14) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model01_rightclip_bottom {
		--wxr-transform: translate3d(-0.135, -0.07, 0.125) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model01_leftclip_bottom {
		--wxr-transform: translate3d(-0.305, -0.07, 0.14) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model01_rightarrow {
		--wxr-transform: translate3d(-0.18, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model01_leftarrow {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}



	#model02_plateclip {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model02_baseassy {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model02_plateassy {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model02_screw {
		--wxr-transform: translate3d(-0.19, -0.35, -0.08) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}



	#model03_1_screw {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model03_1_arrow {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model03_baseassy {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model03_2_screw {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model03_2_arrow {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}




	#model04_bush {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model04_shaft {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model04_base {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}



	#model05_bush {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model05_shaft {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model05_busharrow {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}

	#model05_shaftarrow {
		--wxr-transform: translate3d(-0.2, -0.2, -0.1) rotate3d(0, 0.1, 0) scale3d(1.5, 1.5, 1.5);
	}
</style>

<script>
	let step=1;

	function onNextButtonClick() {
      console.log(arguments);
		if(step===6){
			return;
		}

		let currentURL, nextURL;

		currentURL="http://content.wxr.webizing.org/space/step0"+step;
		WXREvent.dispatchEvent({type: WXREvent.BEACON_MISSED, beacon: currentURL});

		step+=1;

		nextURL="http://content.wxr.webizing.org/space/step0" + step;
		WXREvent.dispatchEvent({type: WXREvent.BEACON_DETECTED, beacon: nextURL});
	}


	function onPreviousButtonClick() {
		if(step===0){
			return;
		}

		let currentURL, nextURL;

		currentURL="http://content.wxr.webizing.org/space/step0"+step;
		WXREvent.dispatchEvent({type: WXREvent.BEACON_MISSED, beacon: currentURL});

		step-=1;

		nextURL="http://content.wxr.webizing.org/space/step0" + step;
		WXREvent.dispatchEvent({type: WXREvent.BEACON_DETECTED, beacon: nextURL});
	}
</script>

<button id="prevBtn" style="position:absolute; top:70px; right:120px;" onclick="onPreviousButtonClick();">Previous</button>
<button id="nexBtn" style="position:absolute; top:70px; right:20px;" onclick="onNextButtonClick(this);">Next</button>



	<wxr-description title="insstek 3D" img="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/thumb/3d-thumb.png" desc="insstek 3D printer maintenance on the 3D web"></wxr-description>
	<wxr-view default="3D" current="3D" modes="[&quot;3D&quot;, &quot;VR&quot;]"></wxr-view>

	<wxr-requirement devices="[&quot;leap-motion&quot;]"></wxr-requirement>

	<wxr-user user-id="yongjae.lee@wrl.onl" authority="owner" me=""></wxr-user>
	<wxr-user user-id="jongho.lee@wrl.onl" authority="viewer"></wxr-user>

	<wxr-camera fovy="61" near="0.1" far="1000" webgl_uuid="28BAE7B6-6718-4AF4-ACAE-31791403E310" fov="60" aspect="2.033359809372518"></wxr-camera>

	<wxr-space src="http://content.wxr.webizing.org/space/step01" enable="" webgl_uuid="AB3FFE78-A258-4A79-A273-598E41B4C6F2" css3d_uuid="169385EE-A57E-4DC7-B6DB-818D89B79DE1">
			<wxr-light-ambient color="0xf0f0f0" intensity="0.4" webgl_uuid="69EECB37-ADF9-417E-9229-1E561D6AEC06" css3d_uuid="7DCFE36F-DE35-46D5-9E13-BBF9850A9BED"></wxr-light-ambient>
			<wxr-light-directional color="0xf0f0f0" intensity="0.4" webgl_uuid="3CDC371B-07A2-48F3-87E6-9AB11E74D121" css3d_uuid="6418E68D-F905-4956-A325-B01D970ECB0F"></wxr-light-directional>
			<wxr-obj id="model01_powder" mtl="model01_powder.mtl" obj="model01_powder.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="60E99B1B-D9AE-4F65-B375-68F068FD65FC" css3d_uuid="29A02EA4-7950-4430-83CF-A31151203D79">
				<wxr-animation type="movement" to="-0.2 -0.17 -0.1" duration="6000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-obj id="model02_baseassy" mtl="model02_baseassy.mtl" obj="model02_baseassy.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="D29B99F6-00CD-4B1F-B401-F84DF82F9019" css3d_uuid="8C63150B-45E1-43C9-8DC8-0FC7740735D9"></wxr-obj>
			<wxr-obj id="model02_plateclip" mtl="model02_plateclip.mtl" obj="model02_plateclip.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="02244257-29F9-4D95-B404-A453DFB69550" css3d_uuid="ECAB9CED-C1F0-4414-B03D-74D51214CED8"></wxr-obj>
			<wxr-obj id="model01_rightclip" mtl="model01_rightclip.mtl" obj="model01_rightclip.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="0E4D07F4-F899-4C44-ADEC-4ACA3710E9DF" css3d_uuid="14B32C2C-5BCB-4990-BDE2-F1E32AA549C0">
				<wxr-animation type="rotation" to="0 0 -1" duration="6000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-obj id="model01_leftclip" mtl="model01_leftclip.mtl" obj="model01_leftclip.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="1FC4DA79-D026-472C-AA67-C9E2D7D7D886" css3d_uuid="0CA038A2-5AAD-4ACF-BA1E-206D529CBAD9">
				<wxr-animation type="rotation" to="0 0 1" duration="6000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-obj id="model01_rightclip_bottom" mtl="model01_rightclip_bottom.mtl" obj="model01_rightclip_bottom.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="C7F83542-8BA6-4831-A118-733FFF058F0F" css3d_uuid="45FFB331-829C-46CD-BFCF-41999CD83334">
				<wxr-animation type="rotation" to="0 0 1" duration="6000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-obj id="model01_leftclip_bottom" mtl="model01_leftclip_bottom.mtl" obj="model01_leftclip_bottom.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="944942BE-C80A-4857-8028-EDD96BEC14BC" css3d_uuid="7E3C15B8-A056-4BD7-B382-8FF7A52273BB">
				<wxr-animation type="rotation" to="0 0 -1" duration="6000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-obj id="model01_rightarrow" mtl="model01_rightarrow.mtl" obj="model01_rightarrow.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="C59423C8-700E-4986-BFE1-022151229F6E" css3d_uuid="2B09759C-C4E2-4B06-ACC3-53B9D4A6F936"></wxr-obj>
			<wxr-obj id="model01_leftarrow" mtl="model01_leftarrow.mtl" obj="model01_leftarrow.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="B25EC787-A7E7-4F87-A45E-1DED0440BA69" css3d_uuid="67E5C494-37D4-423A-80C6-10A6569E0245"></wxr-obj>
			<wxr-plane id="annotation01" texture="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/dialog/powder_vr/step01.jpg" webgl_uuid="5D272DEC-2345-4C67-AB94-36F556EB12DD" css3d_uuid="79687906-0EFE-432C-B1E6-350E2FE25907"></wxr-plane>
		</wxr-space>


	<wxr-space src="http://content.wxr.webizing.org/space/step02" disabled="" webgl_uuid="1BA2AD08-35C1-460F-8714-99E0E6E70295" css3d_uuid="952F2EFD-8C79-4599-8D6E-51F8DEB9DE8A">
	
			<wxr-light-ambient color="0xf0f0f0" intensity="0.4" webgl_uuid="78CCF98A-76DA-4C8F-A8AB-8431B9068C04" css3d_uuid="334648B9-F7E6-472C-93A3-B829C85C7975"></wxr-light-ambient>
			<wxr-light-directional color="0xf0f0f0" intensity="0.4" webgl_uuid="6A28D09E-53CA-4636-AC60-23B08173B73D" css3d_uuid="B83F8CA6-426F-4297-AA79-F6EADF743DFF"></wxr-light-directional>
			<wxr-obj id="model02_baseassy" mtl="model02_baseassy.mtl" obj="model02_baseassy.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="9AF5B63C-E214-46F4-8FF8-D4B973E04009" css3d_uuid="E22E13BA-83CF-466F-B0B8-AC76B8238525"></wxr-obj>
			<wxr-obj id="model02_plateassy" mtl="model02_plateassy.mtl" obj="model02_plateassy.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="CE281575-8BA2-48DB-BFCF-AA6BFE96410E" css3d_uuid="5CF64395-ADCC-491F-99B9-EC58BF885A9A">
				<wxr-animation type="movement" to="-0.2 -0.15 -0.1" duration="15000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-obj id="model02_screw" mtl="model02_screw.mtl" obj="model02_screw.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="FA410082-445F-4E5C-BCF7-85D63482B7B1" css3d_uuid="E11A4D4D-5E08-4FEA-8665-6D1F9FED56E5">
				<wxr-animation type="movement" to="-0.2 -0.15 -0.1" duration="15000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-plane id="annotation02" texture="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/dialog/powder_vr/step02.jpg" webgl_uuid="27A93B4D-0248-4F98-9ABB-5A5DD22B12A2" css3d_uuid="1D247D32-4D10-4805-BB38-D7AFD5B69B22"></wxr-plane>
		
	</wxr-space>


	<wxr-space src="http://content.wxr.webizing.org/space/step03" disabled="" webgl_uuid="542E3DA8-9730-4511-A4DC-DA57A727381C" css3d_uuid="956B3709-CE4B-4814-9C70-FF7DA9509515">
		
			<wxr-light-ambient color="0xf0f0f0" intensity="0.4" webgl_uuid="6D096557-2C20-4A1F-B632-640661E38F22" css3d_uuid="08943911-ABD2-47D7-86E2-6CD26D03F6C2"></wxr-light-ambient>
			<wxr-light-directional color="0xf0f0f0" intensity="0.4" webgl_uuid="F6706EAB-DB93-472D-BDC7-41253EF87615" css3d_uuid="C8B3BBCB-0401-4A3A-BC78-3F4F70B09A4D"></wxr-light-directional>
            <wxr-obj id="model04_bush" mtl="model04_bush.mtl" obj="model04_bush.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="DB334CEE-8BBB-41A7-816E-3C15AE2219C2" css3d_uuid="2C93F04B-744B-4C60-934B-DBAA86298D08"></wxr-obj>
			<wxr-obj id="model04_base" mtl="model04_base.mtl" obj="model04_base.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="49EB50DD-5333-4B30-896E-23AE59C25A08" css3d_uuid="A5865FD5-D256-44DD-9C22-C05D39A2EFA3"></wxr-obj>
			<wxr-obj id="model03_1_screw" mtl="model03_1_screw.mtl" obj="model03_1_screw.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="BDF637B2-6FE5-45FE-88FF-5CCEB2286442" css3d_uuid="CB47821D-6D0D-49BA-86B8-599E42B868C5">
				<wxr-animation type="movement" to="0 0 -0.05" duration="5000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-obj id="model03_1_arrow" mtl="model03_1_arrow.mtl" obj="model03_1_arrow.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="BE76C85F-E836-4650-82C4-A30E15E073D4" css3d_uuid="3245A6CF-C1C8-4BD3-A18C-CE4E51D806B0"></wxr-obj>
			<wxr-obj id="model03_2_screw" mtl="model03_2_screw.mtl" obj="model03_2_screw.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="1B3A5ECD-2AD0-4B6D-9442-F5BC26E63744" css3d_uuid="11C26F5A-6E47-4A10-8BCE-FC965EE06074"></wxr-obj>
			<wxr-plane id="annotation03" texture="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/dialog/powder_vr/step03.jpg" webgl_uuid="09B94E8F-E0D7-4935-8EFB-AA4BDD9AA845" css3d_uuid="A197AEC4-40CC-49DA-9B24-4B47750A81A8"></wxr-plane>
		
	</wxr-space>


	<wxr-space src="http://content.wxr.webizing.org/space/step04" disabled="" webgl_uuid="78C8CE2F-B3EA-4C25-BB90-70734BAF94B6" css3d_uuid="2595018D-347A-4CFA-9449-37A81D503193">
		
			<wxr-light-ambient color="0xf0f0f0" intensity="0.4" webgl_uuid="1E6FB9D4-0BB7-46BF-A487-8CDBEFD8A1A8" css3d_uuid="F8042048-358B-4779-98D2-A6208DA9026C"></wxr-light-ambient>
			<wxr-light-directional color="0xf0f0f0" intensity="0.4" webgl_uuid="F9EB6190-5581-484E-9268-690C7A4752F7" css3d_uuid="89B0C3AE-0BF8-48BC-B263-61810F3B063D"></wxr-light-directional>
            <wxr-obj id="model04_bush" mtl="model04_bush.mtl" obj="model04_bush.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="A28BCE02-C0BE-4D63-889A-57658E5839C4" css3d_uuid="69CF8992-AA7E-4A15-A75E-7B9003B37BF9"></wxr-obj>
			<wxr-obj id="model04_base" mtl="model04_base.mtl" obj="model04_base.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="001642DB-120F-471B-949C-2C8D277B2916" css3d_uuid="5F450B15-FEF3-47AC-89C8-1C0CD49A0E0F"></wxr-obj>
			<wxr-obj id="model03_2_screw" mtl="model03_2_screw.mtl" obj="model03_2_screw.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="AA35F692-A180-488D-908D-35383FD79F87" css3d_uuid="E97B5C03-43F6-4FDD-AE5D-AFC079F41222">
				<wxr-animation type="movement" to="-0.2 -0.2 0.1" duration="20000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-plane id="annotation03_2" texture="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/dialog/powder_vr/step03_2.jpg" webgl_uuid="927C885B-D557-470B-BC14-128CAC524343" css3d_uuid="BFF24857-9BD5-4C01-97C5-3DB9E5A7B8B4"></wxr-plane>
		
	</wxr-space>



	<wxr-space src="http://content.wxr.webizing.org/space/step05" disabled="" webgl_uuid="F7DC13E1-9A74-4F78-9057-F05BE8306A72" css3d_uuid="9547205B-3E9A-4A07-996A-783C5BF90D64">
		
			<wxr-light-ambient color="0xf0f0f0" intensity="0.4" webgl_uuid="D769C316-872C-41FD-8E74-F8A06B855F28" css3d_uuid="4A3E616F-73FC-430A-A738-7410CE682A84"></wxr-light-ambient>
			<wxr-light-directional color="0xf0f0f0" intensity="0.4" webgl_uuid="98DAAB43-BD5A-4573-A93E-B442569B7728" css3d_uuid="A8CC9E17-71DC-4828-B434-24304D52823E"></wxr-light-directional>
			<wxr-obj id="model04_base" mtl="model04_base.mtl" obj="model04_base.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="F02B420C-5D7D-4369-8AE6-0680CC20C4AE" css3d_uuid="B1DC379A-2E32-46C1-9A70-6775BFB3E4D7"></wxr-obj>
			<wxr-obj id="model04_bush" mtl="model04_bush.mtl" obj="model04_bush.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="8C23BBD8-258B-4171-AB8F-BAA3E7820EBA" css3d_uuid="77D17B5A-1068-47A7-A516-C5BBF77D9A1F">
				<wxr-animation type="movement" to="-0.2 -0.2 0.1" duration="20000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-obj id="model04_shaft" mtl="model04_shaft.mtl" obj="model04_shaft.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="56196745-5AEE-4E9E-9D32-3FE94988D911" css3d_uuid="5C6496DA-999A-4737-A0F1-5B2CC2F8F858">
				<wxr-animation type="movement" to="-0.2 -0.2 0.1" duration="20000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-obj id="model05_busharrow" mtl="model05_busharrow.mtl" obj="model05_busharrow.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="55E28F98-528B-419D-9C2C-C9B931C0E911" css3d_uuid="AD097B1D-AB97-47B7-AD06-5AD035223338">
				<wxr-animation type="movement" to="-0.2 -0.2 0.1" duration="20000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-plane id="annotation04" texture="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/dialog/powder_vr/step04.jpg" webgl_uuid="280729DE-9972-4FBA-A9F5-E90500743C51" css3d_uuid="5074C681-FE52-41AA-B6E2-8ECDCBA6B5DA"></wxr-plane>
	
	</wxr-space>


	<wxr-space src="http://content.wxr.webizing.org/space/step06" disabled="" webgl_uuid="A3EAF910-8028-4104-9C12-93E4DA349F2D" css3d_uuid="27C36237-8AD7-4317-AB40-8F850BC9C3EA">
		
			<wxr-light-ambient color="0xf0f0f0" intensity="0.4" webgl_uuid="0FCC5DD1-2E8A-47D3-97F0-C8523398E45E" css3d_uuid="2B81D0A0-86A8-4925-9542-2FC71A857010"></wxr-light-ambient>
			<wxr-light-directional color="0xf0f0f0" intensity="0.4" webgl_uuid="9180BA16-10FD-49A4-A614-5A8218E88BDC" css3d_uuid="C0B5108A-3142-4FFE-AAA7-D878A6361147"></wxr-light-directional>
			<wxr-obj id="model05_bush" mtl="model05_bush.mtl" obj="model05_bush.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="C40490AB-94B8-42D7-835C-6C307E3AA698" css3d_uuid="C21BC15F-48F5-43AF-9B3D-45FDD5E7D05D">
				<wxr-animation type="movement" to="-0.2 -0.2 0.1" duration="20000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-obj id="model04_shaft" mtl="model04_shaft.mtl" obj="model04_shaft.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="952D3C15-DFA3-4BCE-B96C-3B32B5AA251D" css3d_uuid="F7E16074-9F29-454A-AC3F-1B74AF22A4B0">
				<wxr-animation type="movement" to="-0.2 -0.2 -0.3" duration="20000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-obj id="model05_busharrow" mtl="model05_busharrow.mtl" obj="model05_busharrow.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="627958EB-6317-4E44-B984-01DBEF93D26E" css3d_uuid="770247C6-8C51-4748-A774-DF4CC13A06E8">
				<wxr-animation type="movement" to="-0.2 -0.2 0.1" duration="20000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-obj id="model05_shaftarrow" mtl="model05_shaftarrow.mtl" obj="model05_shaftarrow.obj" base-url="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/models/powder_vr" webgl_uuid="CDD13FE0-11BA-4F44-AEBF-6832DCEDBDE9" css3d_uuid="659D501D-8127-4729-AD48-A385E3FFEC6A">
				<wxr-animation type="movement" to="-0.2 -0.2 -0.3" duration="20000" repeat="Infinity" easing="linear"></wxr-animation>
			</wxr-obj>
			<wxr-plane id="annotation05" texture="https://wxr.nyc3.digitaloceanspaces.com/ar3dp/resources/dialog/powder_vr/step05.jpg" webgl_uuid="7DFF1571-5253-46FB-AFDB-87E4D5B8747B" css3d_uuid="35CB1FB7-D262-4031-9C42-598A4A8716BD"></wxr-plane>
		
	</wxr-space>
</wxr-world>
	



	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	


	

